:root {
    --green: #545340;
    --black: #232323;
    --bg-color: #ededed;
    --accent: #d9d8d8
}

html {
  scroll-behavior: smooth;
}

.logo {
  height: 55px;
}

/* Nav Styles */

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav li {
  float: left;
}
  
nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--black)
}

a:visited { 
  text-decoration: none; 
  color: var(--black); 
}

nav .contact-me {
  float: right;
}

.contact-icon {
  padding: 13px;
  height: 18px;
}

  /* End of Nav Styles */

body {
    background-color: var(--bg-color);
    color: var(--black);
    font-family: 'Playfair Display', serif;
}

body p {
    font-family: 'Tenor Sans', sans-serif;
}

h2 {
  font-size: 60px;
  padding-left: 50px;
  position: relative;
  letter-spacing: 2px;
  text-align: center;
}

#about-me {
  display: flex;
  margin: 75px 25px
}

#about-me img {
  height: 400px;
  float: right;
}

#about-me p {
  border-left: 2px solid var(--black);
  padding-left: 15px;
}

#my-work {
  height: 100%;
  background-color: var(--accent)
}

.my-work img {
  width: 75%;
  border: 5px solid var(--black);
  object-fit: cover;
  
}

.my-work img:hover {
  opacity: 75%;
}

.work-container img { 
  position: relative; 
  width: 100%;
}

.work-container h3 { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
}