:root {
    --green: #545340;
    --black: #232323;
    --bg-color: #ededed;
    --accent: #d9d8d8
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.logo {
  height: 55px;
}

/* Nav Styles */

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    background-color: var(--accent);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
  float: left;
}
  
li a {
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  color: var(--black)
}

a:visited { 
  text-decoration: none; 
  color: var(--black); 
}

nav .contact-me {
  float: right;
}

.contact-icon {
  padding: 13px;
  height: 18px;
  transition: top ease 0.5s;
}

.contact-icon:hover {
  margin-top: -5px;
}

  /* End of Nav Styles */

body {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: 'Playfair Display', serif;
}

body p {
    font-family: 'Tenor Sans', sans-serif;
}

h2 {
  font-size: 45px;
  letter-spacing: 2px;
  text-align: center;
  padding: 25px 0;
}

#about-me{
  display: flex;
  flex-wrap: wrap;
  margin: 75px 25px;
  
}

#about-me img {
  height: 400px;
}

#about-me h2 {
  padding: 0 25%;
}

#about-me p {
  padding: 8%;
}

.about-text {
  float: right;
  width: 75%;
}

#my-work {
  background-image: url("../images/background-fluid.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-1 h3 a {
  text-decoration: none;
  color: var(--bg-color)
}

#my-work h3 {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-top: 175px;
  color: var(--bg-color)

}



.my-work img:hover {
  opacity: 75%;
}

.project-1 {
  background-color: (var(--black), 0.8);
  background-image: url(../images/proj1.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  border: 7px solid var(--black);
  height: 500px;
  width: 75%;
  margin-top: auto;
  margin-left: 12.5%;
}

.project-2 {
  background-image: url(../images/proj2.jpg);
}

.project-3 {
  background-image: url(../images/proj3.jpg);
}

.project-2,
.project-3 {
  background-size: cover;
  background-repeat: repeat-x;
  border: 7px solid var(--black);
  height: 400px;
  width: 30%;
  margin: 25px;
  padding-right: 20px;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  margin: 0 0 0;
  background-color: var(--accent);
}


#contact h2 {
  float: center;
  font-size: 25px;
  letter-spacing: normal;
  width: 100%
}

#contact div {
  padding-top: 5px;
}
